---
import { Image } from "astro:assets";
import Button from "./Button.astro";
import ProjectState from "./ProjectState.astro";

interface Project {
  name: String;
  description: String;
  state: Number;
  built_with: String[];
  url: String;
  image: String;
  github: String;
}

interface Props {
  projectData: Project;
}

const { projectData } = Astro.props;
---

<div class="project__container">
  <div class="project__image-container">
    <Image
      class="project__image"
      src={"/img/projects/" + projectData.image}
      alt={projectData.name + " project example"}
      width={352}
      height={250}
      loading="lazy"
    />
  </div>
  <div class="project__content">
    <div class="project__info">
      <h3 class="project__title">
        {projectData.name}
        <ProjectState state={projectData.state} />
      </h3>
      <p class="project__description">{projectData.description}</p>
    </div>
    <p class="project__used">
      {
        projectData.built_with.map((tech) => (
          <span class="project__tag">#{tech.toLowerCase()}</span>
        ))
      }
    </p>
    <div class="project__links">
      <Button
        content="Repository"
        as="a"
        href={projectData.github}
        target="__blank"
        icon={"github"}
        class:list={"project__button"}
      />
      {
        projectData.url ? (
          <Button
            content="Website"
            as="a"
            href={projectData.url}
            target="__blank"
            icon={"web"}
          />
        ) : null
      }
    </div>
  </div>
</div>

<style>
  .project__container {
    width: 49%;
    border: solid 1px #494949;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: 425px;
  }

  .project__image-container {
    height: 250px;
    overflow: hidden;
    border-radius: 8px;
  }

  .project__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .project__content {
    padding: 12px 12px;
    margin-top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .project__title {
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  .project__description {
    margin: 3px 0;
  }

  .project__used {
    display: flex;
    margin-top: 5px;
    gap: 10px;
  }

  .project__tag {
    color: #808080;
    border-radius: 20px;
    padding: 1px 0;
  }

  .project__links {
    display: flex;
    justify-content: space-around;
    margin-top: auto;
  }

  @media only screen and (max-width: 768px) {
    .project__container {
      width: 100%;
      height: fit-content;
    }

    .project__image-container {
      height: 150px;
    }
  }
</style>
